{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/octicons@12.1.0/build/build.css">

{% endblock extra_css %}


{% block content %}
<main class="main container">
    <h2>Schedule a Virtual or In-Person Training & Health Session</h2>
    <p>Please use the link below to schedule your session:</p>
    <a href="https://calendly.com/eileen@nullrecords" class="btn btn-primary">Schedule with Calendly</a>
</main>
{% endblock %}

