{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/octicons@12.1.0/build/build.css">

{% endblock extra_css %}


{% block content %}
<main class="main container">
    <h2>Signup now and Join Devotion Fitness</h2>
    <p></p>
    <form method="post" action="{% url 'sign_up' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</main>
{% endblock %}

